html,body {
    height: 100%;
    width: 100%
}
body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin: 0px;
    letter-spacing: 1px;
    background: #cccccc;
    font-weight: bold
}
#results,
#phpmusselversion {
    color: #ff0000
}
#denied {
    line-height: 1;
    font-size: 2em
}
#generated_by,
#phpmusselversion {
    display: inline-block;
    letter-spacing: -1px
}
#detected {
    color: #003333;
    padding: 0px 0px 8px 8px
}
#wrapper {
    border: 1px solid #c7ced3;
    width: 98%;
    background: #ffffff;
    margin: 0px auto;
    box-sizing: border-box
}
#wrapper_inner {
    width: 96%;
    margin: 0px auto
}
hr.hline {
    height: 1px;
    border: none;
    background: #990000;
    margin: 11px 8px 8px 8px
}
#results {
    margin: 18px 0px 10px 0px;
    text-align: center
}
#denied_reason {
    padding-top: 12px
}
#footer {
    font-family: Verdana, Geneva, sans-serif;
    padding: 0px 6px 6px 0px;
    font-size: 1.0666em;
    white-space: nowrap;
    text-align: right
}
#footer_inner {
    display: inline-block;
    letter-spacing: -4px
}
#generated_by {
    color: #000000
}
